.weathersection{
    width: 100%;
    height: 350px;
 background: linear-gradient(20deg,rgba(9, 98, 133,0.1),rgba(155, 212, 228,0.5),#cadeef),url('./background.png');

}
.weathermaincon{
    display: flex;
    justify-content: center;
    align-items: center;

}
.weathermain{
    font-size: var(--fontheading);
    color: white;
    font-weight:bold;
    text-align: center;
    padding-top: 10px;
}
.imgofsun{
    width: 170px;
}
.weathertemp{
    font-size: 100px;
    /* color: #ffd500; */
    color: var( --darkcolor);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.weatherfeels{
    font-size: 50px;
    /* color: #ffd500; */
    /* color: var( --primarycolor); */
    color: var( --darkcolor);
    text-align: center;
}
/* -----------no result found-------- */

.notfound{
    max-width: 100vw;
    height: 100vh;
    font-size: 100px;
    color: var(--darkcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}



@media screen and (max-width:600px){
    .weathersection{
      height: 300px;
     }
    .weathermain{
        font-size: 40px;
       }
    .weathertemp{
        font-size: 70px;
         margin-top: 0px;
     }
    .weatherfeels{
        font-size: 30px;
     }
     .notfound{
        
        font-size: 40px;
       
    }
}