.weathersection{
    width: 100%;
    height: 350px;
 background: linear-gradient(20deg,rgba(9, 98, 133,0.1),rgba(155, 212, 228,0.5),#cadeef),url('./background.png');

}
.weathermaincon{
    display: flex;
    justify-content: center;
    align-items: center;

}
.weathermain{
    font-size: var(--fontheading);
    color: white;
    font-weight:bold;
    text-align: center;
    padding-top: 10px;
}
.imgofsun{
    width: 170px;
}
.weathertemp{
    font-size: 100px;
    /* color: #ffd500; */
    color: var( --darkcolor);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.weatherfeels{
    font-size: 50px;
    /* color: #ffd500; */
    /* color: var( --primarycolor); */
    color: var( --darkcolor);
    text-align: center;
}