/* * {
  margin: 0;
  padding: 0;
}
.homecard {
  width: 100vw;
  height: auto;
}
.img-section {
  width: 100vw;
  height: 500px;
  display: flex;
}
.img-section-left {
  width: 10%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: end;
  align-items: center;
}
.homeicon {
  font-size: 50px;
}
.homecard-img-group {
  width: 2000px;
  height: 500px;
  background-color: rgb(226, 177, 177);
  margin: 0 auto;
  display: flex;
  
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.homecard-img-group::-webkit-scrollbar {
  display: none;
}
.homecardimgbody {
  width: 1200px;
  height: 500px;
  border: 2px solid black;
  margin: 0 10px;

}
.homecardimg {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.img-section-right {
  width: 10%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: start;
  align-items: center;
} */


.img-section{
    width: 100vw;
    height: 500px;
   
}
.homecard-img-group{
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
}
.homecardimgbody{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    
}