.navbar{
    width: 100vw;
    height: 60px;
    background-color: var(--darkcolor);
}
.navbar ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

}

.navbar ul li{
  list-style: none;
}
.navlink{
    text-decoration: none;
    font-size: 20px;
    color: var(--primarycolor);
    
}