*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
:root{
    --primarycolor:#cadeef;
    --secondarycolor:#9bd4e4;
    /* --ternarycolor:#39ace7; */
    --ternarycolor:#1b8dc7;
    /* --darkcolor:#0784b5; */
    --darkcolor:#096285;
    --fontheading:55px;
    --fontsubheading:30px;
    --textsize:23px;
    --subheadingweight:600;
    --headingweight:bolder;
}

.sectionone{
    width: 100vw;
    height: 70vh;
    background: linear-gradient(135deg,rgb(0, 0, 0,0.5),rgba(250, 247, 247,0.1)), url('./background.jpg');
    background-size: cover;
    color: white;
}
.searchsection{
    width: 80%;
    height: 80px;
    border-bottom: 0.5px solid rgb(255, 250, 250,0.6);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.searchsetionleft{
    width: 60%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
}
.searchleftleft{
    width: 30%;
    display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
    width: 150px;
}
.searchleftright{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}
.icon{
    font-size: 25px;
    color: white;
}
.inputhome{
    width: 400px;
    height: 40px;
    color: white;
 font-size: 20px;
      padding-left: 15px;
  
    border: none;
    background-color: transparent;
    border-radius: 50px;
}
.searchsetionright{
    width: 40%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}
.username{
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
.slash{
    font-size: 35px;
    color: white;
    margin-right: 10px;
}
.login{
   text-decoration: none;
   font-size: 30px;
   color: white;
   cursor: pointer;
   margin-left: 15px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.sectiononebody{
    width: 100%;
    height: calc(90vh - 80px) ;
    /* overflow-y: auto; */

    display: flex;
    flex-direction: column;
    justify-content: start;
}
.sectiononeheading{
    width: 100%;
   
 
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
   align-items: center;
   margin-top: 50px;
}
.sectiononesubheading{
    width: 100%;
    
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
/* ----------sectiontwo------------ */
.headingseciotion{
    padding-left: 10%;
    margin: 30px 0 5px 0;
}
.mainheading{
    font-size: var(--fontheading);
    font-weight: var(--headingweight);
    color: var(--darkcolor);
    
}
.subheading{
    font-size: var(--fontsubheading);
    font-weight: var(--subheadingweight);
    color: var(--ternarycolor);

}
.sectiontwo{
    width: 100vw;
    height: 650px;
    /* background-color: red; */
    padding: 0 10%;
}
.row1{
    width:100% ;
    height: 55%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.sectionimg{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  
}
/* .sectionimg:hover{
    transform: scale(1.1);

  
} */
.transparentfilm{
    position: absolute;
    background: linear-gradient(10deg,rgba(0, 0, 0,0.1),rgba(255, 255, 255, 0.0));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
}
.transparentfilm:hover{
  
    background: linear-gradient(180deg,rgba(0, 0, 0,0.5),rgba(255, 255, 255, 0.0),rgba(255, 255, 255, 0.0));
  
}
.linkrow1{
    width: 49%;
    height: 90%;
    
}
.row1-child{
    width: 100%;
    height: 100%;
  
    /* border: 1px solid black; */
    position: relative;
    /* overflow: hidden; */
    border-radius: 15px;
}
.row2{
    
    width: 100%;
    /* background-color: orange; */
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.linkrow2{
    width: 32%;
    height: 90%;

}
.row2-child{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  
    /* border: 1px solid black; */
    position: relative;
}
.nameofcard{
    font-size: var(--fontsubheading);
    margin: 5px 20px;
    color: white;
}
.topplaces{
    width: 100%;
    height: auto;
  display: flex;
  justify-content: space-between;
}
/* .topplacecol1{
    width: 10%;
    height: auto;
    background-color: pink;
} */
.topplacecol1{
    width: 8%;
    height: auto;
    /* background-color: rgb(56, 7, 15); */
    display: flex;
    justify-content: end;
    align-items:center;
    padding-right: 0px;

}
.topplacecol2{
    width: 8%;
    height: auto;
    /* background-color: rgb(56, 7, 15); */
    display: flex;
    justify-content:start;
    align-items:center;
 padding-left: 0px;

}
.flexrow{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
     width: 82%;
     margin: 0 auto;
      height: auto;
     overflow-x:scroll;
     margin-top: 20px;
     scroll-behavior: smooth;
}
.flexrow::-webkit-scrollbar{
   display: none;
}
.faangle{
    font-size: 30px;
    position: absolute;
}


@media screen and (max-width:600px){
    .sectionone{
        width: 100vw;
        height: 40vh;
        /* display: flex;
        justify-content:center;
        flex-direction: column; */
        
      
        
    }

    .searchsection{
        width: 100%;
        height: 70px;
        border-bottom:none;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .searchsetionleft{
        width: 60%;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        
    }
    .searchleftleft{
        width: 30%;
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo{
      display: none;
    }
    /* .searchleftright{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
    } */
    .icon{
        
       margin-right:20px;
    
    }
    .inputhome{
        width: 300px;
        height: 35px;
        color: white;
     font-size: 20px;
          padding-left: 19px;
      
      
    }
    .searchsetionright{
        
        flex-direction: column;
        
    }
    .username{
        font-size: 30px;
        color: white;
        font-weight: bold;
        text-transform: capitalize;
    }
    .slash{
        font-size: 35px;
        color: white;
        margin-right: 10px;
    }
    .login{
      
       font-size: 20px;
 
      
    
    }
    .sectiononebody{
        width: 100%;
        height: 30% ;
        /* overflow-y: auto; */
    
        display: flex;
        flex-direction: column;
        justify-content: start;

    }
    .sectiononeheading{
       
       
     
        font-size: 50px;
        font-weight: bold;
       
       
       margin-top: 0px;
    }
    .sectiononesubheading{
       
        
        margin-top: 10px;
       
        font-size: 30px;
        padding: 0 20px;
        
    }
    .headingseciotion{
        padding-left: 2%;
        margin: 20px 0 5px 0;
    }
    .mainheading{
        font-size:40px;
      
        
    }
    .sectiontwo{
        width: 100vw;
        height: 400px;
       
        padding: 0 2%;
    }
    .row1{
        
        height: 50%;
       
        
    }
    
   
    
  
    
    
    .row2{
        
        width: 100%;
        
        height: 50%;
        
    }
    .nameofcard{
        font-size:20px;
        margin: 5px 20px;
        color: white;
    }
   

    .topplaces{
        width: 100%;
        height: auto;
      display: flex;
      justify-content: space-between;
    }
   
    .topplacecol1{
        width: 1%;
    
        background-color: transparent;
        /* margin-left: 5px; */
        z-index: 99;
    
    }
    .topplacecol2{
        width: 1%;
      background-color: transparent;
        
     margin-right: 15px;
        z-index: 99;
    
    }
    .flexrow{
        display: flex;
        flex-direction: row;
        /* background-color: red; */
         width: 98%;
         margin: 0 auto;
          height: auto;
         overflow-x:scroll;
         margin-top: 20px;
         scroll-behavior: smooth;

    }
    .flexrow::-webkit-scrollbar{
       display: none;
    }
    .faangle{
        font-size: 30px;
        position: absolute;
    }

}


