

.blogCard {
    width: 400px;
    height: 620px;
    box-shadow: 0 0 13px 0 rgb(158, 158, 158);
    margin: 28px;
    position: relative;
}
.blog-img {
    width: 100%;
    height: 300px;
}
.blog-img-content {
    width: 100%;
    height: 100%;
}
.txt-center {
    text-align: center;
    padding: 0 7px 0 7px;
}
.readpost-btn {
    position: absolute;
    bottom: 2px;
    left: 4px;
    cursor: pointer;
}
.fs-larg {
    font-size: 23px;
}
@media  screen and (min-width: 480px) {
    
}