.topplacecard-container {
    height: 490px;
    width: 360px;
    border: 1px solid var(--secondarycolor);
    box-shadow: 0 0 9px 0.5px grey;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primarycolor);
}

.toppalaceimage {
    height: 235px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 8px; */
    border-radius: 10px 10px 0 0;
}

.titleplace {
    /* font-size: var( --fontsubheading); */
    font-size: 28px;
    font-weight: bolder;
    color: var(--darkcolor);
    padding: 8px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.description-place {
    font-size: 17px;
    padding: 0 10px;
    text-align: justify;
      color: var(--ternarycolor);
    /* color:var(--secondarycolor); */
    /* background-color: pink; */
    height: 110px;
    /* width: 300px; */
    
}

.number-box {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    text-align: center;
    padding: auto;
    margin-right: 12px;
    background-color: var(--secondarycolor);
    border-radius: 3px;
    border:0.5px solid var(--ternarycolor);
    box-shadow:  0 0 0.5px 0.5px var(--darkcolor);
    border: none;

}

@media screen and (max-width:600px){
    .topplacecard-container {
       
        margin: 20px auto;
        
    }
}