.topplacecard-container {
    height: 480px;
    width: 350px;
    border: 1px solid var(--secondarycolor);
    box-shadow: 0 0 9px 0.5px grey;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primarycolor);
}

.toppalaceimage {
    height: 235px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 8px; */
    border-radius: 10px 10px 0 0;
}

.titleplace {
    font-size: var( --fontsubheading);
    font-weight: bolder;
    color: var(--darkcolor);
    padding: 10px;
}

.description-place {
    font-size: 18px;
    padding: 0 10px;
    text-align: justify;
      color: var(--ternarycolor);
    /* color:var(--secondarycolor); */
    /* background-color: pink; */
    height: 110px;
    /* width: 300px; */
    
}

.number-box {
    display: inline-block;
    width: 32px;
    height: 30px;
    text-align: center;
    margin-right: 12px;
    background-color: var(--secondarycolor);
    border-radius: 3px;
    border:0.5px solid var(--ternarycolor);
    box-shadow:  0 0 0.5px 0.5px var(--darkcolor);
    border: none;
    /* background-color: rgb(102, 176, 236); */
}